/*estilos generales del home en mobile*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}



.contenedorGeneral{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 0px 5px 0px 5px;
}

/*estilos del header*/

header{
    display: flex;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

header h1,h2{
    color: rgb(251, 251, 251);
    
}

header h2{
    font-weight: 300;
    font-style: light;
}

header h1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: larger;
}

header nav{
    display: none;
}

/*estilos del main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 40 45px 40px ;
}

.imgHome{
    height: 450px;
    width: auto;
    margin: 50px 15px 10px 15px;
    border: 15px solid rgb(0, 0, 0);
    border-radius: 8px;
}

main h2{
    color: rgb(0, 0, 0);
    margin: 30px 0px 3px 0px;
    font-size: 40px;
}

main p{
    font-style: light;
    font-weight: 300;
    text-align: center;
    margin: 20px 5.5rem 40px 5.5rem;
}

/*estilos del footer*/

footer{
    color: rgb(255, 255, 255);
    background-color: black;
    height: 8rem;
    padding-top: 15px;
    text-align: center;
}

.contenedorFooter{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
}

footer h4 a{
    text-decoration: none;
    color: white;
}


/*estilos de contact*/

.contenedorMainContacto{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(5, 1fr) ;
    grid-template-areas: 
    'nombre'
    'apellido'
    'mail'
    'telefono'
    'textarea';
    height: 400px;
    background-color: black;
    border-radius: 8px;
    margin: 70px 0px 60px 0px;
    padding: 25px ;
}

.contenedorNombre{
    grid-area: nombre;
    display: flex;
    margin: 10px;
}

.contenedorApellido{
    grid-area: apellido;
    display: flex;
    margin: 10px;
}

.contenedorMail{
    grid-area: mail;
    display: flex;
    margin: 10px;
}

.contenedorTelefono{
    grid-area: telefono;
    display: flex;
    margin: 10px;
}

.contenedorTextarea{
    height: 30%;
    grid-area: textarea;
    display: flex;
    margin: 25px 15px 20px 10px ;
}

label{
    color: rgb(255, 255, 255);
}

.contenedorRedes{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem ;
}

.contenedorRedes img{
    display: none;
}


.ds-color{
    color: rgb(0, 0, 0);
}

.fb-color{
    color: black;
}

.in-color{
    color: black;
}

.yt-color{
    color: black;
}

/*estilos de about*/

.imgAbout{
    height: fit-content;
    width: 90%;
    margin: 30px 15px 10px 25px;
    border: 15px solid rgb(0, 0, 0);
    border-radius: 8px;
}

main p{
    font-size: 1.1em;
    text-align: center;
    margin: 30px 5rem 55px 5rem;
}

/*estilos de sections*/

.contenedorSections{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    width: auto;
    margin: 60px 0px 100px 0px;
    font-size: 40px;
}

.contenedorSections ul li{
    list-style: none;
    text-shadow: 0px 2px 3px  grey;
    padding: 8px;
    border: 1px solid black; 
    margin: 6px;
    box-shadow: 0px 2px 1px black;
}

.contenedorSections ul li a{
    color: black;
    text-decoration: none;
}
.seccionGraffity,.seccionIlustracion,.seccionPasteup,.seccionTattoo{
    display: none;
}

.hover1,.hover2,.hover3,.hover4{
    display: none;
}

/*estilos del shop*/

.contenedorShop{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.tee1,.tee2,.tee3{
    height: 420px;
    width: auto;
    margin: 20px 0px 15px 0px;
}


.contenedorShop p{
    margin: 0px 50px 0px 50px;
    padding: 0px 40px 0px 40px;
    font-size: 1.1rem;
}

.footerShop{
    margin-top: 45px;
}

/*estilos de seccionGraffity*/

.contenedorGraffity{
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 25px;
    margin:35px 0px 45px 0px;
}

/*estilos de seccionIlustracion*/

.contenedorIlustracion{
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 25px;
    margin:35px 0px 45px 0px;}

/*estilos del home en tablet*/

@media screen and (min-width:768px){
    
    /*estilos del header*/

    header{
        display: flex;
        text-align: center;
        justify-content: space-around;
        column-gap: 2rem;
    }

    .contenedorHeader{
        display: inline-block;
        margin-left: 2rem;
    }

    header nav{
        display: flex;
        margin: 1rem;

    }

    header nav ul{
        display: flex;
        list-style: none;
        gap: 2rem;
        font-weight: 500;
        font-style: regular;
    }


    header nav ul li a{
        color: white;
        text-decoration: none;
    }

    /*estilos del main*/


    main{
        display: flex;
        flex-direction: column;
        padding-left: 4rem;
    }

    .tee1,.tee2,.tee3{
        height: 600px;
        width: auto;
        margin: 20px 0px 15px 0px;
    }

    /*estilos del footer*/

    footer{
        display: flex;
        flex-direction: column;
        height: 128px;
    }

    .contenedorH3{
        margin-top: 20px;
    }

    footer h3{
        padding: 3px;
    }

    
}

/*estilos del home en desktop*/

@media screen and (min-width:1024px){
    
    /*estilos del header*/
    
    header{
        display: flex;
        text-align: center;
        justify-content: space-around;
    }

    .contenedorHeader{
        display: inline-block;
        margin-left: 2rem;
    }

    header nav{
        display: flex;
    }

    header nav ul{
        display: flex;
        list-style: none;
        gap: 2rem;
        font-weight: 500;
        font-style: medium;
        font-size: 1.2rem;
    }


    header nav ul li a{
        color: white;
        text-decoration: none;
    }

    /*estilos del main de Home*/

    main{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 20% 80%  ;
        grid-template-areas: 
        'h2 h2'
        'contenedorMain contenedorMain ';
        height: 70%;
        align-items: center;
        margin-bottom: 60px;
        justify-content: center;
    }

    main h2{
        grid-area: h2;
        margin: 25px 0px 35px 4.5rem;
    }

    .contenedorMain p{
        font-size: 1.3rem;
        color: white;
        margin: 2em;
    }

    .imgHome{
        border: 2px solid rgb(0, 0, 0);
        height: 350px;
        margin: 2rem 2rem ;
    }

    .contenedorMain{
        background-color: black;
        grid-area: contenedorMain;
        display: flex;
        height: fit-content;
        margin: 40px 4rem  55px;
        width: fit-content;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    /*estilos del Main de About*/

    .contenedorMainabout{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 20% 80%  ;
        grid-template-areas: 
        'h2 h2'
        'imgAbout p';
        height: 70%;
        align-items: center;
        margin-bottom: 60px;
        justify-content: center;
    }

    .imgAbout{
        grid-area: imgAbout;
    }

    .contenedorMainabout p{
        grid-area: p;
    }


    footer{
        color: rgb(255, 255, 255);
        background-color: black;
        height: 30%;
        padding-top: 8px;
        text-align: center;
    }
}